service: sls-lambda-gh-actions

frameworkVersion: 'v3'

provider:
  name: aws
  runtime: python3.7
  stage: dev
  region: ap-northeast-2

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: true

functions:
  greeting:
    name: sls-lambda-gh-actions
    handler: app/handler.greeting
    events:
      - http:
          path: /
          method: get
    timeout: 5
    memorySize: 128
    package:
      patterns:
        - "!node_modules/**"
        - "!yarn.lock"
        - "!package-lock.json"
        - "!package.json"
        - "!workflow/**"
        - "!**.md"