name: Continuous Deployment 

on:
  push:
    branches:
      - dev
    paths-ignore:
      - "**.md"
      - ".github/**"
      - ".gitignore"

jobs:
  cd:
    name: Continuous Deployment
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 14 ]
        serverless: [ 'v3' ]

    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
          cache: 'node-version'

      - run: npm ci

      - name: Install serverless
        run: npm install -g serverless@"$SERVERLESS_VERSION"
        env:
          SERVERLESS_VERSION: ${{ matrix.serverless }}
      
      - name: deploy
        run: serverless deploy --stage dev